.mdxeditor-popup-container {
  border: 0 !important;
}

blockquote {
  border-left: 4px solid #f0f0f0;
  margin: 0;
  padding: 0 15px;
  color: #666;
  font-style: italic;
}

h1 {
  font-size: 2em !important;
  margin: 0.67em 0 !important;
}

h2 {
  font-size: 1.5em !important;
  margin: 0.83em 0 !important;
}

h3 {
  font-size: 1.17em !important;
  margin: 1em 0 !important;
}

h4 {
  font: 1em !important;
  margin: 1.33em 0 !important;
}

h5 {
  font-size: 0.83em !important;
  margin: 1.67em 0 !important;
}

h6 {
  font-size: 0.67em !important;
  margin: 2.33em 0 !important;
}

ul {
  list-style-type: disc !important;
  margin: 0 0 1em 1.5em !important;
}

li {
  margin: 0.5em 0 !important;
}

li[role='checkbox'] {
  text-decoration: none !important;
}

li[role='checkbox']::before {
  text-decoration: none !important;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
li[role='checkbox']::after {
  text-decoration: none !important;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

li[role='checkbox'][aria-checked='false']::before {
  content: '☐' !important;
}
li[role='checkbox'][aria-checked='true']::before {
  content: '☑' !important;
}

ol {
  list-style-type: decimal !important;
  margin: 0 0 1em 1.5em !important;
  ol {
    list-style-type: lower-latin !important;
    ol {
      list-style-type: lower-roman !important;
      ol {
        list-style-type: lower-greek !important;
        ol {
          list-style-type: upper-alpha !important;
          ol {
            list-style-type: upper-roman !important;
            ol {
              list-style-type: armenian !important;
            }
          }
        }
      }
    }
  }
}

a {
  color: #0366d6 !important;
  text-decoration: none !important;
  &:link {
    color: #0366d6 !important;
  }
  &:visited {
    color: purple !important;
  }
  &:hover {
    text-decoration: underline !important;
  }
}

hr {
  border: 0 !important;
  border-top: 1px solid lightgray !important;
  margin: 1em 0 !important;
}
